body { 
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
}

/* TITLE*/

.title {
    padding-bottom: 100px;
    text-align: right;
    font-family: Helvetica;
    display: flex;
    font-size: x-large;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0%;
    
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    display: flex;
    margin-top: 1vw;
    padding-right: 0vw;
    padding-left:0vw;
    position: sticky;
    top: 0%;
}

/* Intro */

.intro {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(62, 133, 255, 0.61);
    padding: 1em;

}

.intro h2,
.intro p {
    text-align: left;
}

.intro h2 {
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.intro p {
    font-size: 1.25rem;
    color: #666;
    line-height: 1.5;
    padding: 20px;
}

.intro img {
    max-width: 18%;
    height: auto;
    display: block;
    float: left;
    margin-right: 10px;
    object-fit: cover;
}

/* Events */

.event-details {
        display: none;
        height: 100px;
    }
 .event-details.show {
        display: flex;
        height: auto;
}


.event {
    display: grid;
    position: relative;
    top: -20px;
    grid-template-columns: 1fr 1fr; 
    padding: 30px;
    background-color: white;
    text-align: center;
}

.event img {
    height: 35vh;
    width: auto;
}

.event p {
    font-size: 16px;
    
    line-height: 1.5;
    color: black;
    padding-right: 35px;
}

.eventheader {
    display: flex; 
    justify-content: space-between;
    grid-column: span 2;
    align-items: center;
}

.eventheader h2,
.eventheader h3 {
    color: black;
}

.eventheader h2 {
    font-size: 24px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.eventheader h3 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 20px;
    padding-left: 20px;
}

/* Featured Artists */
/*
.feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 75px;
    position: relative;
    top: -25px;
}
.feature2 {
    margin-bottom: 20px;
}
*/
.feature {
    display: none;
        height: 100px;
}
.feature2 {
    display: none;
        height: 100px;
}
.feature.show {
        display: flex;
        float: right;
        clear: both;
        text-align: right;
        margin-top: 10px;
    }
    
.feature2.show {
        display: flex;
        text-align: right;
        margin-top: 10px;
}
.feature2 h4 {
    border-bottom: 10px;
}

button {
    background-color: rgba(62, 133, 255, 0.61);
    height: 100px;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: none;
    font-size: x-large;
}
/* Media Queries */

@media only screen and (max-width: 400px) {

    .intro h2,
    .intro img,
    .intro p,
    .event p,
    .eventheader h3 {
        text-align: left;
        font-size: 1em;
    }

    .intro img {
        width: 0%;
    }

    .event {
        display: flex;
        flex-direction: column;
    }

    .eventheader {
        display: flex;
        flex-direction: column;
    }

    .eventheader h3 {
        margin-left: -20px;
    }

    .feature.show {
        align-items: flex-start;
        padding-left: 0;
        padding-top: 25px;
        font-size: auto;
    }
    
    .button {
        size: auto;
    }
} 

@media only screen and (min-width: 1500px) {

    .title h1 {
        font-size: 3.5rem;
    }

    .intro img {
        height: 200px;
    }

    .intro h2,
    .intro p,
    .event p {
        text-align: left;
    }

    .event p {
        font-size: 1.25rem;
    }
    .feature.show {
        font-size: auto;
    }
}