/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #dbdbdb;
  }
  
  /* Selectors to be matched up with rulesets */
  
  
  
  
  
  /* Rulesets to be matched up with selectors */
 
header, footer {
    height: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

}
  h2, p {
    margin: 0em;
  }
  p {
    font-size: 1.25em;
  }

  h2{
    font-size: 2em;
  }
  article {
    height: 12em;
    background-color: #0000003b;
    color: white;
    padding: 1em;
  }

  .card{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    
  }
  
  .card footer
  {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card article img {
    max-height: 100%;
    float: right;
  }
 .card2 {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(65, 150, 70);
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    
  }
  .card2 header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    
  }
  
  .card2 footer
  {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card2 article img {
    max-height: 100%;
    float: right;
  }