.container {
    position: absolute;
    top: 50px;
    left: 50px;
}

.box1 {
    width: 400px;
    height: 100px;
    position: absolute;
    background-color: blueviolet;
}

.image {
    background-image: url(../wa/assets/LeoMessi20092010_pic_fcb-arsenal62.jpeg);
}
