* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
    
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    background-image:
    linear-gradient(to bottom,rgba(0,0,0,0), rgb(0, 0, 0, 0.5)),
    url(top-image.png),
    url(bottom-image.png);
    background-position: top, top, bottom;
    background-repeat: no-repeat;
    background-color: white;
    border-top: 1mm solid red;
    border-bottom: 1mm solid red;
  }
  
  .black{
    background-color: black;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(logo.png);
   
  }

  
  /* Your CSS below here */