main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

.Collin {
    font-size: 1vw;
    color: black;

}

.dots {
    width: 20px;
    height: 20px;
    background-color: black;
    
}