body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: orange;
    
}

#box1:hover {
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 1s infinite;
}

@keyframes box2move{
    0%   {top: 0px;}
  25%  {top: 1000px;}
  50%  {top: 100px;}
  75%  {top: 750px;}
  100% {top: 0px;}
}