body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
      float: left;
      padding: 1vw;
  }

  main {
    display: flex;
    columns: 50%;
  }

  
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0%;
  }
  
  nav ul {
    margin: 0.5vw;
    padding: 0vw;
    list-style: none;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    text-align: center;
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 1px;

  }

  .feature {
      width: 200px;
  }