body {
    background-color:rgb(244, 239, 216);
}

body, div {
    margin: 0;
    padding: 0;
}

/* Flowers */

.flower {
    position: relative;
    width: 1000px;
    height: 1000px;
    top: 500px
}

.flower2 {
    position: relative;
    width: 1000px;
    height: 1000px;
    bottom: 0px;
    left: 0px;
    transform: rotate(10deg);
}

.flower3 {
    position: relative;
    width: 1000px;
    height: 1000px;
    bottom: 0px;
    left: 0px;
    transform: rotate(15deg);
}

.center {
    position: absolute;
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 45px;
    left: 55px;
}

.center3 {
    position: absolute;
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50px;
    left: 45px;
}

.stem {
    position:absolute;
    background-color: rgb(83, 64, 27);
    width: 30px;
    height: 300px;
    border-radius: 50%;
    top: 25px;
    left: 55px;
}

/* Petals */

.petals {
    position: relative;
    width: 140px;
    height: 120px;
}

.petal {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(211, 87, 29);
    border-radius: 50%;
}

.petal2 {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(90, 141, 192);
    border-radius: 50%;
}

.petal3 {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(164, 233, 137);
    border-radius: 50%;
}

/* Petal Childs */

.petal:nth-child(1) {
    transform: rotate(0deg);
    top: 10px;
    left: 20px;
}

.petal:nth-child(2) {
    transform: rotate(90deg);
    top: 10px;
    right: 20px;
}

.petal:nth-child(3) {
    transform: rotate(180deg);
    bottom: 10px;
    left: 20px;
}

.petal:nth-child(4) {
    transform: rotate(270deg);
    bottom: 10px;
    right: 20px;
}

.petal2:nth-child(1) {
    transform: rotate(0deg);
    top: 10px;
    left: 20px;
}

.petal2:nth-child(2) {
    transform: rotate(90deg);
    top: 10px;
    right: 20px;
}

.petal2:nth-child(3) {
    transform: rotate(180deg);
    bottom: 10px;
    left: 20px;
}

.petal2:nth-child(4) {
    transform: rotate(270deg);
    bottom: 10px;
    right: 20px;
}

.petal3:nth-child(1) {
    transform: rotate(0deg);
    top: 10px;
    left: 20px;
}

.petal3:nth-child(2) {
    transform: rotate(90deg);
    top: 10px;
    right: 20px;
}

.petal3:nth-child(3) {
    transform: rotate(180deg);
    bottom: 10px;
    left: 20px;
}

.petal3:nth-child(4) {
    transform: rotate(270deg);
    bottom: 10px;
    right: 20px;
}

