
      body {
        font-family: 'Times New Roman', Times, serif;
        width: 350px;

      }

      label {
        font-weight: bold;
      }

      div {
        padding-bottom: 20px;
      }

      input[type="text"] {
        padding: 5px;
        width: 150px;
      }

      p {
        background: #6ab5ff;
        color: #000000;
        padding: 10px;
        visibility: hidden;
      }

      .randomize {
        cursor: pointer;
      }

